@model BookViewModel

@{
    ViewBag.Title = "Return";
}

<h2>Return</h2>

<h3>Are you sure you want to return this book? </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookName)
        </dd>
    </dl>
    @using (Html.BeginForm(new { id = Model.ISBN }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.Status == SimpleLibrary.Common.Enums.BookStatus.Rent)
            {
                if (ViewBag.IsBookRentByMe)
                {
                    <input type="submit" value="Return" class="btn btn-info" />
                }
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>