Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.mdf
*.ldf
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/T.old
.tfignore
/Deploy
/DeployTapeManager
/packages
/SimpleLibrary.Web/App_Data/*.mdf
/SimpleLibrary.Web/App_Data/*.ldf
