@model ApplicationUser

@{
    ViewBag.Title = "Lock";
}

<h2>Lock</h2>

<h3>Are you sure you want to lock out this User?</h3>
<div>
    <h4>User.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (!ViewBag.HasUnreturnedBooks)
            {
                <input type="submit" value="Lock out" class="btn btn-danger" />
            }
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>